<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="">
</head>

<body>


    {% for message in messages %}
    <div class="alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message</strong>{{message}}
        <button type="button" class="close" date-dismiss="alert" arise-label="close">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    {% endfor %}


    <h3>Welcome to My Page</h3>

    {% if user.is_authenticated %}
    <h3>Hello{{firstname}}</h3>
    <h4>You're successfully logged in</h4>
    <button type="submit"><a href="/signout">signout</a></button>
    {% else %}
    <button type="submit"><a href="/signup">signUp</a></button>
    <button type="submit"><a href="/signin">signin</a></button>
    {% endif %}

</body>

</html>